.falcon-intro-main {
    height: 100vh;
    background: url('./back.jpg') no-repeat;
    padding: 7em 18em 7em 18em; 
    align-content: center;
}
.falcone-intro-main-logo {
    width: 6em;
    height: 6em;
    
}
.falcon-intro-main-col {
    padding: 5em;
    background-color: rgb(0, 0, 0,.3);
    text-align: center;
    /* margin-left: 5em; */
    /* margin-right: 5em; */
}
.falcone-intro-main-head {
    padding-top: .5em;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}
.falcone-intro-main-subtext {
    padding-left: 4em;
    padding-right: 4em;
    color: white;
    font-family: 'Abel', sans-serif;

}
.falcone-intro-main-sub {
    color: white;
    /* padding-left: 10em; */
    font-family: 'Abel', sans-serif;
}
.falcon-intro-main .ant-btn-primary {
    background-color: rgb(188, 188, 188,.7);
    font-family: 'Alfa Slab One', cursive;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: 0.5em;
    border-color: #bcbcbc;
    height: fit-content;
    /* padding: 1em; */
  }
  .falcon-intro-main .ant-btn {
    font-size: 1.2em ;
    padding: .5em 2em;
    color: hsl(252, 9%, 10%);
    text-align: center;
  }
  .falcon-intro-main .ant-btn-primary:hover {
      background:rgba(167, 164, 164, 0.7);
      border-color: rgb(188, 188, 188,.7);
      color: black;
  }